@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&family=Poppins:wght@400;600;700;800&display=swap);
.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vstart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.vend {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.vspace {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vtop {
  display: flex;
  justify-content: flex-start;
}

.vendtop {
  display: flex;
  justify-content: flex-end;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
